/* Vishal Reddy Vancha (1002076184) Aryan Rahul Verma (1002079331) Sanjay Kumar Vontela (1002090448)
Aravind Yalla (1002038759) Abhishek Reddy Yaramala (1002072996) 
Font: 'Inter', sans-serif, Arial; Color: Black, Gray, White, Red, Green, Blue, rgba(30, 30, 30, 1), rgba(50, 50, 50, 1)*/

body {
    padding: 0;
    margin: 0;
    background-color: rgba(30, 30, 30, 1);
    overflow-x: hidden;
    overflow-y: auto;
}




.homepage-content-program {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8%;
    padding-top: 0%;
    padding-left: 8%;
    padding-bottom: 0%;
}

.homepage-content-program-txt {
    margin: 3%;
    margin-top: 6%;
    background-color: rgba(50, 50, 50, 1);
    padding: 2%;
    width: 50%;
    height: 50%;
    border-radius: 15px;
    float: left;
    color: white;
    font-size: xx-large;
    font-weight: 600;
    line-height: 1.75;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

.text-inp{
    font-family: Arial, Helvetica, sans-serif;
    padding: 3%;
    border-radius: 10px;
    font-size:large;
    border: none;
    width: 80%;
    margin-bottom: 3%;
    margin-right: 3%;
}

.send-btn{
    font-family: Arial, Helvetica, sans-serif;
    padding: 3%;
    padding-left: 7%;
    padding-right: 7%;
    border-radius: 10px;
    font-size: x-large;
    font-weight: 600;
    border: none;
    background-color: rgba(30, 30, 30, 1);
    color: white;
    text-decoration: none;
}

.student-list{
    overflow-x: hidden;
    overflow-y: auto;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    font-size: large;
    border: none;
    list-style: none;
    margin-top: 3%;
}

.student-list-item{
    background-color: white;
    text-decoration: none;
    border-radius: 10px;
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: black;
    font-weight: 600;
    margin-bottom: 4%;
}