.studentBody{
    padding: 5%;
}

.welcomeMsg{
    text-align: center;
    color: white;
    font-size: x-large;
    margin-bottom: 3%;
}

.student-home-table {
    
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(30, 30, 30, 1);
    color: #fff;
    overflow-y: auto;
  }

  .student-home-th-td{
     padding: 10px;
    text-align: center;
    border: 1px solid #4b4b4b;
    font-size: 120%;
    /* padding: 1.5%; */
  }

  th {
    background-color: #333;
  }

  td a{
    color: white;
  }

  .studentLabel{
    margin-bottom: 1%;
    font-size: x-large;
    color: white;
  }

  .mainBody{
    height: 100%;
  }

  .course-obj {
    text-align: left;
    color: white;
    font-size: x-large;
    line-height: 1.75;
    text-decoration: none;
    margin-top: 3%;
  }

  .course-obj-txt{
    text-align: left;
    color: white;
    font-size: large;
    font-weight: 200;
    line-height: 1.5;
    text-decoration: none;
    margin-bottom: 1%;
    margin-top: 1%;
    background-color: rgba(50, 50, 50, 1);
    padding: 1%;
    border-radius: 10px;
  }